@media(max-width: 768px) {
    .responsive {
        display: block;
    }
}

body {
    font-family: Arial, sans-serif;
    font-size: 13px;
    color: black;
    overflow: hidden;
}

#header {
    position: relative;
    text-align: right;
    padding-top: 10px;
    padding-right: 30px;
}

ul li {
    display: inline-block;
    margin: 5px;
}

#nav-sign-in {
    color: white;
    background-color: #3689ea;
    padding: 7px 10px 7px 10px;
    border: 0;
    border-radius: 2px;
    font-weight: bold;
}

#content {
    margin: 0 auto;
    text-align: center;
    margin-top: 140px;
}

a:link,
a:visited {
    color: #696969;
    text-decoration: none;
}

a:hover {
    color: black;
    text-decoration: underline;
}

#google_font {
    position: relative;
}

#oesterreich {
    position: relative;
    color: #3689ea;
    font-size: 16px;
    margin-bottom: 20px;
}

#searchbar {
    position: relative;
    margin-bottom: 40px;
}

#microphone {
    position: relative;
    right: 32px;
    top: 9px;
}

.google-button {
    position: relative;
    background-color: #efefef;
    color: #656565;
    padding: 10px 15px 10px 15px;
    margin-left: 5px;
    font-weight: bold;
    border: 0;
}

#footer {
    position: absolute;
    bottom: 0;
    background-color: #f4f4f4;
    border-top: 1px solid #e0e0e0;
    font-size: 12px;
    width: 100%;
}

.footer-left {
    float: left;
    padding: 10px 0px 10px 30px;
}

.footer-right {
    float: right;
    padding: 10px 30px 10px 30px;
}

#searchbar-text {
    width: 30%;
    line-height: 35px;
}